.main-app {
  display: flex;
  background: #f4f4f4;
}

.main-app .navigation {
  width: 15%;
  height: 100vh;
  background: #f4f4f4;
  padding: 16px 10px;
  border-right: 1px solid #cfcfcf;
}

.navigation .option {
  width: 100%;
  font-weight: 500;
  color: #626161;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .selected {
  background: #a1dff2;
}

.navigation .option:hover {
  color: #858585;
}

.anticon-info-circle {
  display: none;
}